{% extends "layout.html" %}
{% block title %}To-Do App{% endblock %}

{% block content %}
  <div class="jumbotron">
    <h1 class="display-4">To-Do App</h1>
    <p class="lead">Just another to-do app.</p>
  </div>

  <div class="row">
    {% for list in view_model.lists %}
    <div class="container">
      <h2>{{list.name}}</h2>
      <ul class="row">
        {% for item in list.items %}
        <div class="col-md-auto">
          <div class="row-sm">
            {{item.title}}
          </div>
            <form action="/update" method="put">
              <div class="row-sm">
              <label for="list">Status </label>
                <select name="list_id">
                  {% for list_option in view_model.lists %}
                    <option {{ "selected" if list_option == list }} value="{{list_option.id}}">{{list_option.name}}</option>
                  {% endfor %}
                </select>
              </div>
              <input type="hidden" name="item_id" value="{{ item.id }}"/>
                <button class="row-sm" type="submit" value="Submit">
                  Update item
                </button>
            </form>
        </div>
        {% endfor %}
      </ul>
    </div>
    {% endfor %}
    <div class="col-md-12">
      <h2>Add a new To Do item</h2>
      <form action="/new" method="put">
        <label for="title">New to do: </label>
        <input type="text" name="title" id="title" required />
        <input type="submit" value="Add new to do" />
      </form>
    </div>
  </div>
{% endblock %}